.bio{
    font-family:"instagram sans";
    color: white;
    font-size: 15px;
}

.handle{
    font-family:"instagram sans";
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.follow{
    display: flex;
    justify-content: space-between;
}

.profile-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pronouns{
    font-family:"instagram sans";
    color: lightgray;
    font-style: italic;
    font-size: 10px;
    margin-left: 2%;
}

.name{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}